html{
    scroll-behavior: smooth;
}

/* - search bar */

#searchBar {
    margin-left: calc(3vw - 1em);
    border: 1px solid #D8D8E0;
    border-radius: 3em;
    padding: 0 1em;
    height: 65%;
    z-index: 10;
    background-color: #f4f4f7;
    transition: opacity .1s ease-in-out;
}

#searchBar.focus {
    border: 1px solid #2e2a4a;
}

#searchBar button{
    background: none; 
    padding: 0; 
    border: none;
}

#searchBar input {
    border: none;
    background-color: #fff0;
    padding: 10px 10px 7px;
    width: max(18vw, 15em);
    font-size: 0.95em;
    transition: width .3s ease-in-out;
}

#searchBar input::placeholder {
	font-family: "SuisseIntl-Medium";
	font-size: 1em;
	letter-spacing: 0.05em;
}

#overlayFilter {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    transition: opacity .1s ease-in-out;
}

#overlayFilter.active{
    visibility: visible;
    opacity: 1;
}




#autocomplete-list {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 127%;
	left: 0;
	 overflow-y: scroll;
    height: 20em;
	right: 0;
	  background-color: white;
}

#autocomplete-list div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d5dae09c;
	 color: #2e2a4a;
    letter-spacing: 0.03em;
    font-size: 0.9em;

}

/*when hovering an item:*/
#autocomplete-list div:hover {
  background-color: #f4f4f7;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
	background-color: #f9f9fb !important;
}

/* search bar- */


/* -ORDER BY */

#orderBy{
    margin-right: 2.5rem;
    cursor: pointer;
    position: relative;
}

#orderBy p{
    margin: 0;
    letter-spacing: 0.08em;
    font-size: 0.95em;
    font-family: 'SuisseIntl-Medium', Fallback, sans-serif;
}

#orderBy p.active:after{
    transform: rotate(-180deg);
}

#orderBy > p span{
    margin-right: 0.5em;
}

#orderBy > div{
    position: absolute;
    border: 1px solid #d5dae09c;
    border-bottom: none;
    border-top: none;
    top: 38px;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px #d2d0e48a;
    max-height: 0;
    overflow-y: hidden;
    transition: max-height .2s linear;
}

#orderBy > div.active{
    max-height: 10em;
}

#orderBy > div p{
	border-bottom: 1px solid #d5dae09c;
	width: max-content;
	padding: 1.5rem 2rem;
	width: 20vw;
}

#orderBy > div p:hover,
#orderBy > div p.selected{
	background-color: #f9f9fb;
}

/* ORDER BY- */








/* -Loader */

#loaderP {
	height: calc(100vh - 150px);
	background-color: #fff;
	position: absolute;
	top: 0;
	/*position: sticky;*/
 /*   top: 155px;*/
	left: 0;
	width: 100%;
	z-index: 10;
	display: flex;

	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 300ms, opacity 300ms;
}

#loaderP.active {
	visibility: visible;
	opacity: 1;
	transition: none;
}

/* Loader- */



/* -filter tags */

#boxTags{
    overflow-x: auto;
	position: relative;
}

#boxTags::-webkit-scrollbar {
  height: 0.5em;
}

#boxTags::-webkit-scrollbar-thumb {
	background: #d5dae0;
	border :none;
	border-radius: 10px;
}

#boxTags::-webkit-scrollbar-track {
    background-color: #fff;
}

#boxTags > div {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20rem;
    padding: 0.5em 1em;
    margin: 4px;
    border: solid 1px #d5dae0;
}

#boxTags>div p {
	margin-bottom: -2px;
	margin-right: 5px;
	text-transform: uppercase;
	font-size: 0.75em;
	white-space: nowrap;
	letter-spacing: 0.1em;
}

#boxTags>div span {
    cursor: pointer;
    line-height: 0.8em;
    font-size: .85em;
    background-color: #efeff2;
    font-weight: bold;
    color: #2f294b;
    border-radius: 100%;
    padding: 0.4em 0.35em 0.35em 0.37em;
}

#tagsBar,
#clearSearchBar{
	display: none;
	width: 100%;
	border-bottom: solid 1px #d5dae09c;
	background-color: #fff;
	height: 55px;
	position: relative;
	padding-left: 3vw;
	top: 150px;
	position: sticky;
	z-index: 11;
}

#tagsBar:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 3%;
    height: 100%;
    background: linear-gradient(90deg, rgb(255 255 255 / 42%) 0%, rgb(255 255 255) 100%);
}

.clearBtn{
      background-color: #fff;
    color: #2f294b;
    border: none;
    border-bottom: 1px solid #2f284b;
    border-radius: 0;
    padding: 0;
    letter-spacing: 0.05em;
    font-size: 0.9em;
    margin-right: 1.5rem;
    white-space: nowrap;
}

#tagsBar.active,
#clearSearchBar.active{
	display: flex;
}

/* filter tags- */



.filter_main_title {
    letter-spacing: 0.08em;
    font-size: 0.95em;
    cursor: pointer;
    font-family: 'SuisseIntl-Medium', Fallback, sans-serif;
}


#btns_FMob{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 20px 20px;
}

#btns_FMob > button{
    display: block;
    width: 100%;
    border-radius: 0;
    border: 1px solid #1C1932;
    padding: 10px 0;
      text-transform: uppercase;
    font-size: 0.8em ;
    letter-spacing: 0.14em;
}

#btns_FMob .clearBtn{
    background-color: #fff;
    color: #1C1932;
}

#applyFilters{
    background-color: #1C1932;
    color: #fff;
    margin-bottom: 10px;
}





#filterBar {
	width: 100%;
	border-bottom: solid 1px #d5dae09c;
	height: 55px;
	background-color: #fff;
	z-index: 12;
	position: relative;
}

.stickyFilterBar {
	position: sticky !important;
	top: 100px;
}

#filterBtn {
	height: 100%;
	padding: 0 2.5rem;
	border-right: solid 1px #d5dae09c;
	cursor: pointer;
	transition: width .3s ease-in-out;
}

#filterIcon {
	width: 1.5rem;
	margin-right: 1rem;
}

#filterBox {
	padding-bottom: 20px;
	width: 0;
	left: 0;
	overflow-x: hidden;
	transform: translateX(-25vw);
	height: calc(100vh - 150px);
	background-color: #fff;
	transition: all .3s ease-in-out;
	z-index: 10;
}

#filterBox.active {
	transform: translateX(0);
	width: 25%;
	overflow: auto;
	border-right: solid 1px #d5dae09c;
}

.stickyFilterBox {
	position: sticky;
	top: 150px;
	width: 100%;
}

#filterBox ul {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	margin-bottom: 0;
}

#filterBox input{
    display: none;
}

#filterBox label{
    margin-bottom: 15px;
}

#filterBox label > p {
    position: relative;
    padding-left: 40px;
    display: block;
    cursor: pointer;
    font-size: 1em;
}

#filterBox label > p:before{
    content: "";
    position: absolute;
    left: 0;
    height: 24px;
    width: 24px;
    border-radius: 100%;
    border: 2px solid #d5dae0;
}

#filterBox input:checked + p:before{
    border: 2px solid #2f294b;
}

#filterBox input:checked + p:after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 12px;
    height: 12px;
    transform: translate(50%, 50%);
    background-color: #d5dae0;
    border-radius: 100%;
}














#containerShop {
	transition: width .3s ease-in-out;
	position: relative;
}

#containerShop.active {
	width: 75%;
}


#filterBox p {
	margin-bottom: 0;
}

#filterPBox{
    transition: width .3s ease-in-out;
}

#filterBox > ul{
    padding: 0 2.5rem !important;
    transition: all .3s ease-in-out;
}
/*#state1_filter{*/
/*    padding: 0 2.5rem !important;*/
/*    transition: all .3s ease-in-out;*/
/*}*/

#state1_filter.tabActive{
    transform: translateX(-100%);
}

#seeAllBtn {
    cursor: pointer;
    border: none !important;
    padding: 1.7rem 0;
    color: #2f294b;
    font-family: 'SuisseIntl-Medium';
    letter-spacing: 0.08em;
    font-size: 0.85em;
}

.closeFilter{
    cursor: pointer;
}

#filterBox ul > li,
#head_fBox {
	border-bottom: 1px solid #d5dae09c;
}

.filterSection li{
    border: none !important;
}


#state1_filter > li > ul{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
  padding: 0 2.5rem 0 2.5rem ;
    background-color: #fff;
    transform: translateX(100%);
    display: none;
}

.productsLine_count{
    font-family: "SuisseIntl-Light";
}

.head_state2 > span {
    border: 1px solid #d5dae09c;
    border-radius: 2rem;
    cursor: pointer;
    width: 2em;
    transition: all .3s ease-in-out;
}

.head_state2 > span:hover {
    background-color: #d5dae09c;
}

.filterSection ul {
	height: auto;
	max-height: 0;
	overflow-y: auto;
	transition: max-height .3s ease-in-out
}

.filterSection ul.active {
	max-height: 100vh;
}

/*#filterBox > ul li,*/
/*#head_fBox {*/
/*	padding: 1.7rem 0;*/
/*}*/
/*#filterBox > ul li > p,*/
/*#head_fBox {*/
/*	padding: 1.7rem 0;*/
/*}*/


#state1_filter li > p,
#head_fBox {
	padding: 1.7rem 0;
}

#head_fBox{
    padding-left: 20px;
    padding-right: 20px;
}

#state1_filter li:not(.head_state2):not(.not_a_tab) > p:after,
#filterBtn:after,
#orderBy > p:after{
	content: url(https://monatglobal.com/wp-content/uploads/2022/08/dropdown-arrow.svg);
	width: 1rem;
	float: right;
	opacity: 0.6;
	transition: .3s all;
	margin-top: -2px;
}


#state1_filter > li > p:after,
#filterBtn:after {
	transform: rotate(-90deg);
}

#filterBtn.active:after {
	transform: rotate(90deg);
}

.filterSection>p.active:after {
	transform: rotate(-180deg);
}

.filtersCount{
    font-family: 'SuisseIntl-Light', Fallback, sans-serif !important;
}






#containerBanners{
    position: relative;
}

#containerBanners > div{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

#containerBanners > div.active{
    opacity: 1;
}

#containerBanners > div#hairBanner{
    background-image: url('https://monatglobal.com/wp-content/uploads/2022/09/IR-clinical_banner_desk_haircare_.jpg');
}
#containerBanners > div#skinBanner{
    background-image: url('https://monatglobal.com/wp-content/uploads/2021/09/Exfoliate-Refine-Body-Polish-benefits.jpg');
}
#containerBanners > div#wellnessBanner{
    background-image: url('https://monatglobal.com/wp-content/uploads/2022/02/monat-energy-pineapple-benefits.jpg');
}

.logo_banner {
	width: clamp(6em, 10vw, 20em);
	margin: 1em 0;
}

.banner_h2 {
	font-size: clamp(1em, 1.5vw, 2em);
	line-height: 1.5em;
	letter-spacing: 0.03em !important;
}


/* -VIEW DETAILS SLIDING MODULE */
.container_img_product {
	width: 100%;
	position: relative;
	z-index: 5;
}

.container_img_product::before {
    content: "VIEW DETAILS";
    position: absolute;
    min-width: 13em;
    padding: 0.7em 1em;
    top: 50%;
    opacity: 0;
    margin-left: -100%;
    z-index: 1;
    color: #18162d;
    background-color: #ffff;
    border: 1px solid #eeeeee;
    font-size: 0.8em;
    text-align: center;
    letter-spacing: 1.5px;
    border-radius: 20px;
    pointer-events: none;
    transition: .3s ease-in-out;
}


.card_content:hover .container_img_product::before {
	margin-left: 0%;
	opacity: 1;
}

/* VIEW DETAILS SLIDING MODULE- */


/* -PRODUCT ELEMENTS */

.BScard img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.BScard span{
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 2px;
    color: #1C1932;
    background-color: #fff;
    padding: 5px 8px 2px;
    font-family: 'SuisseIntl-Medium';
    font-size: 0.8em;
    letter-spacing: 0.08em;
}

.card_product,
.BScard{
    position: relative;
    z-index: 1;
    border-bottom: solid 1px #d5dae09c;
    border-right: solid 1px #d5dae09c;
}

.card_content {
    width: 100%;
    height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: stretch;
    padding: 3.5rem 3vw 8rem;
}

.card_content:hover {
    background-color: #f9f9fb;
}

.card_product .infoBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 3px;
    border-radius: 7px;
    cursor: pointer;
    z-index: 11;
}

.card_product .infoBtn:hover, 
.card_product .infoBtn.active{
    background-color: #ebebf3;
    border: 1px solid #d5dae0;
}

.card_product .infoBtn > span{
    background-color: #9998aa;
    display: block;
    height: 4px;
    width: 4px;
    border-radius: 100%;
}

.card_product .infoBtn > span:not(:last-child){
    margin-bottom: 4px;
}

.infoCard {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #f9f9fcf0;
    backdrop-filter: blur(1.5px);
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 20px 40px;
    cursor: pointer;
}

.infoCard.active{
    visibility: visible; 
    opacity: 1;
}

.infoCard p {
    font-family: 'SuisseIntl-Regular';
    font-size: 0.75em;
    background: white;
    padding: 0.2em 0.6em;
    border-radius: 3px;
    letter-spacing: 0.09em;
    width: fit-content;
    text-transform: uppercase;
    margin-bottom: 0.7rem;
    opacity: 1;
    cursor: auto;
}

.infoCard p.off {
    opacity: 0.4;
}

.system_label {
	border: solid 2px #F4F4F9;
	padding: 0.6em 0.9em;
	margin: auto;
	letter-spacing: 0.07em;
	font-size: 0.75em;
	color: #2f294b;
	text-transform: uppercase;
	text-align: center;
}

.purchase_label {
	font-family: 'SuisseIntl-Regular', Fallback, sans-serif !important;
	border-bottom: solid 1px #c2c3fd;
	letter-spacing: 0.07em;
	font-size: 0.82em;
	color: #5456c4;
	text-transform: uppercase;
}

.img_product {
	width: auto;
	max-height: 250px;
}

.module_text_product {
	margin-top: 1.5em;
}

.view_details_btn {
	font-family: 'SuisseIntl-Light', Fallback, sans-serif !important;
	letter-spacing: 1.5px;
	text-align: center;
	/*padding: 1.4em 0;*/
	color: #2f294b;
	font-size: 0.8em;
	text-transform: uppercase;
}

.product_name {
	font-family: 'SuisseIntl-Medium', Fallback, sans-serif;
	letter-spacing: 0.05em;
	font-size: 0.9em;
	color: #2f294b;
	text-transform: uppercase;
}

.retail_price {
	font-family: 'SuisseIntl-Medium', Fallback, sans-serif !important;
	letter-spacing: 0.05em;
	font-size: 1em;
	color: #2f294b;
	text-transform: uppercase;
}

.vip_price {
color: #5456C4;
    font-family: 'SuisseIntl-Regular', Fallback, sans-serif !important;
    font-size: 0.9em;
    border: solid 1px #D5D5F1;
    border-radius: 3px;
    margin-left: 0.5em;
    padding: 0.2em 0.5em;
    background: #e1e1f442;
}

.shop_btn{
    margin-bottom: 3rem;
    position: absolute;
    bottom: 0;
    width: calc(100% - 6vw);
    left: 50%;
    transform: translate(-50%, 0%);
}

.clasic_btn_MONAT {
	width: 100%;
	opacity: 0;
}

.card_product:hover .clasic_btn_MONAT{
    opacity: 1;
}

/* PRODUCT ELEMENTS- */

@media screen and (min-width: 700px) {
	#filterBtn.active {
	    width: 25%;
    }
}

@media screen and (max-width: 700px) {
	.container_img_product::before {
		display: none;
	}

	.background_image_banner .col_60 {
		width: 80%;
	}

	.background_image_banner {
		background-image: url('https://monatglobal.com/wp-content/uploads/2022/07/Systems-Web-Banner-Mobile.jpg');
	}
	
    .card_content {
        padding: 2rem 3vw 7rem;
    }
	
	#filterBox #boxTags {
		margin-top: 20px;
	}


	#containerShop.active {
		width: 100%;
	}

	#filterBox {
		position: fixed;
		top: 0;
		height: 100%;
		z-index: 100;
	}
	.product_name,
	.retail_price {
	    font-size: 0.8em;
}
.clasic_btn_MONAT {
   
    min-width: 12em;
}
	#filterBox.active {
		width: 100%;
	}

	#filterBox #boxTags {
		order: 1;
	}
	
	.shop_btn {
        margin-bottom: 2rem;
	}
	
	#filterBtn {
    	border: none;
    	padding: 0;
    }
    
    #filterBtn:after {
	    display: none;
    }

    .clasic_btn_MONAT {
    	opacity: 1;
    }
    
    #filterBar > div:last-child{
        justify-content: space-between;
        padding: 0 3vw;
    }

    #state1_filter > li > ul{
        height: calc(100vh - 190px);
        overflow-y: auto;
    }


    #searchBar input{
        width: 6em;
    }
        
    #searchBar.focus input{
        width: 10em;
    }
	
	.purchase_label{
	    margin-bottom: 0;
	}
	
	.card_content .infoBtn{
	    top: 10px;
        right: 10px;
	}
		#filterBtn.active {
	    width: 50%;
    }
}     